<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @survey.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @survey.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @survey.sex %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @survey.rating %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @survey.comment %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
